.bg {
    background-color: #cccccc;
}
.product__details__pic {
    // text-align: center;
    .nav-tabs {
        border-bottom: none;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        cursor: pointer;
        > li {
            width: 22%;
            opacity: 0.6;
            border: 1px solid #cccccc;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }

        .active {
            opacity: 1;
        }
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link {
        background-color: transparent;
        border-color: transparent;
    }
}

.product__details__breadcrumb {
    margin: 20px 0 30px !important;
    background-color: transparent !important;
    font-size: 1.6rem;
}

.product__details {
    margin-left: 30px;

    h3 {
        color: var(--heading-color);
        font-weight: 900;
        margin: 50px 0 15px;
        font-size: 35px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    }

    .rating {
        margin-bottom: 20px;
        font-size: 15px;
        color: #f7941d;
        span {
            color: #3d3d3d;
            margin-left: 5px;
        }
    }

    .product__details__price {
        color: #0d0d0d;
        font-weight: 700;
        font-size: 26px;
        p {
            display: inline-block;
            color: #e03535;
            font-size: 20px;
            font-weight: 400;
            margin-left: 10px;
            text-decoration: line-through;
        }
    }

    .product__details__option__descript {
        text-align: justify;
        margin: 10px 0 40px;
    }

    .product__details__option__size {
        display: inline-block;
        margin-bottom: 30px;
        label {
            color: var(--heading-color);
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            display: inline-block;
            border: 1px solid #e5e5e5;
            padding: 6px 15px;
            margin-right: 5px;
            cursor: pointer;

            &.active {
                background: var(--heading-color);
                color: var(--white-color);
                border-color: var(--heading-color);
            }

            input {
                position: absolute;
                visibility: hidden;
            }
        }
    }

    .product__details__cart__option {
        margin-bottom: 60px;
        .quantity {
            display: inline-block;
            margin-right: 20px;
            .pro-qty {
                width: 100px;
                height: 40px;
                border: 1px solid #e5e5e5;
                text-align: center;
                position: relative;

                input {
                    color: #0d0d0d;
                    font-size: 15px;
                    font-weight: 700;
                    width: 50px;
                    height: 100%;
                    text-align: center;
                    border: none;
                }
                button {
                    background-color: transparent;
                    svg {
                        margin: 0 0 4px;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .product__details__btns__option {
        margin-bottom: 40px;
        a {
            display: inline-block;
            font-size: 14px;
            color: #3d3d3d;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 700;
            margin-left: 10px;
            svg {
                margin: 0 5px 3px 6px;
            }
            &:hover {
                color: #000000;
            }
        }
    }

    .product__details__last__option {
        // margin-top: 26px;
        h5 {
            color: var(--heading-color);
            font-weight: 700;
            font-size: 20px;
            position: relative;

            span {
                background: var(--white-color);
            }
        }

        ul {
            padding-top: 40px;

            li {
                list-style: none;
                font-size: 15px;
                color: var(--heading-color);
                font-weight: 700;
                line-height: 30px;

                span {
                    font-weight: 400;
                    color: #b7b7b7;
                }
            }
        }
    }
}
.product__details__tab {
    padding-top: 60px;

    .nav-tabs {
        border-bottom: 1px solid #e5e5e5;
        justify-content: center;

        .nav-item {
            margin-right: 50px;
            padding-bottom: 10px;

            &:last-child {
                margin-right: 0;
            }

            .nav-link {
                font-size: 20px;
                color: #b7b7b7;
                padding: 0;
                border: none;
                font-weight: 700;
                background-color: transparent;
                border-bottom: 2px solid transparent;
                &.active {
                    padding-bottom: 10px;
                    border-bottom: 2px solid var(--primary-color);
                    color: #000000;
                }
            }
        }
    }
    .actived {
        display: block;
    }
}

.product__details__tab__content {
    padding-top: 35px;
}

.product__details__descript p {
    color: var(--heading-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 25px;
    text-align: justify;
}

.product__details__tab__content__item {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    h5 {
        color: var(--heading-color);
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 12px;
    }

    p {
        text-align: justify;
    }
}

/*---------------------
  Related
-----------------------*/
.related {
    padding-bottom: 55px;
}

.related-title {
    color: var(--heading-color);
    font-weight: 700;
    margin-bottom: 45px;
    text-align: center;
}
//
.product__item {
    overflow: hidden;
    margin-bottom: 40px;
    right: -100%; /* Khởi điểm ẩn bên phải */

    &.sale {
        .product__item__pic {
            .label {
                color: var(--white-color);
                background: var(--heading-color);
            }
        }
    }
    .product__item__text {
        .rating {
            color: #f7941d;

            &:nth-last-child(1) {
                color: #b7b7b7;
            }
        }
    }

    &:hover {
        .product__item__pic {
            .product__hover {
                right: 20px;
                transition: right 0.5s ease; /* Thêm transition cho thuộc tính right */
                opacity: 1;
            }
        }

        .product__item__text {
            a {
                top: 22px;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.product__item__pic {
    // height: 260px;
    position: relative;
    background-position: center center;

    .label {
        color: rgb(0, 0, 0);
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: inline-block;
        padding: 4px 15px;
        background: var(--white-color);
        position: absolute;
        left: 0;
        top: 20px;
    }

    .product__hover {
        position: absolute;
        right: -200px;
        top: 20px;
        transition: transform 0.8s; /* Sử dụng transition cho transform */

        li {
            list-style: none;
            margin-bottom: 10px;
            position: relative;

            &:hover {
                span {
                    opacity: 1;
                    visibility: visible;
                }
            }

            span {
                color: var(--white-color);
                background: var(--heading-color);
                display: inline-block;
                padding: 4px 10px;
                font-size: 12px;
                position: absolute;
                left: -80px;
                top: 5px;
                z-index: 1;
                opacity: 0;
                visibility: hidden;
                transition: transform 0.3s; /* Sử dụng transition cho transform */

                &:after {
                    position: absolute;
                    right: -2px;
                    top: 5px;
                    height: 15px;
                    width: 15px;
                    background: var(--heading-color);
                    content: '';
                    transform: rotate(45deg);
                    z-index: -1;
                }
            }

            img {
                background: var(--white-color);
                padding: 10px;
                display: inline-block;
            }
        }
    }
}

// .product__item__text {
//     padding-top: 15px;
//     position: relative;

//     a {
//         font-size: 15px;
//         color: var(--primary-color);
//         font-weight: 700;
//         position: absolute;
//         left: 0;
//         top: 0;
//         opacity: 0;
//         visibility: hidden;
//         transition: transform 0.3s; /* Sử dụng transition cho transform */
//     }

//     h6 {
//         color: var(--heading-color);
//         font-size: 15px;
//         font-weight: 600;
//         margin-bottom: 5px;
//         transition: transform 0.3s; /* Sử dụng transition cho transform */
//     }

//     h5 {
//         color: #0d0d0d;
//         font-weight: 700;
//     }

//     .product__color__select {
//         position: absolute;
//         right: 0;
//         bottom: 0;
//         opacity: 0;
//         transition: transform 0.5s; /* Sử dụng transition cho transform */

//         label {
//             display: inline-block;
//             height: 12px;
//             width: 12px;
//             background: #5e64d1;
//             border-radius: 50%;
//             margin-bottom: 0;
//             margin-right: 5px;
//             position: relative;
//             cursor: pointer;

//             &.black {
//                 background: #404a47;
//             }

//             &.grey {
//                 background: #d5a667;
//             }

//             &.active {
//                 &:after {
//                     opacity: 1;
//                 }
//             }

//             &:after {
//                 position: absolute;
//                 left: -3px;
//                 top: -3px;
//                 height: 18px;
//                 width: 18px;
//                 border: 1px solid #b9b9b9;
//                 content: '';
//                 border-radius: 50%;
//                 opacity: 0;
//             }

//             input {
//                 position: absolute;
//                 visibility: hidden;
//             }
//         }
//     }
// }
