/*---------------------
  Breadcrumb Blog
-----------------------*/
.breadcrumb-blog {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 350px;
    img {
        width: 100%;
    }
    h2 {
        color: var(--white-color);
        font-size: 60px;
        font-weight: 700;
    }
}
