.product__item {
    overflow: hidden;
    margin-bottom: 40px;
    right: -100%; /* Khởi điểm ẩn bên phải */

    &.sale {
        .product__item__pic {
            .label {
                color: var(--white-color);
                background: var(--heading-color);
            }
        }
    }
    .product__item__text {
        .rating {
            color: #f7941d;
            margin-bottom: 5px;
            &:nth-last-child(1) {
                color: #b7b7b7;
            }
        }
    }

    &:hover {
        .product__item__pic {
            .product__hover {
                right: 20px;
                transition: right 0.5s ease; /* Thêm transition cho thuộc tính right */
                opacity: 1;
            }
        }

        .product__item__text {
            a {
                top: 22px;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.product__item__pic {
    // height: 260px;
    position: relative;
    background-position: center center;
    > img {
        height: 255px;
        width: 255px;
    }
    .label {
        color: rgb(0, 0, 0);
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: inline-block;
        padding: 4px 15px;
        background: var(--white-color);
        position: absolute;
        left: 0;
        top: 20px;
    }

    .product__hover {
        position: absolute;
        right: -200px;
        top: 20px;
        transition: transform 0.8s; /* Sử dụng transition cho transform */

        li {
            list-style: none;
            margin-bottom: 10px;
            position: relative;

            &:hover {
                span {
                    opacity: 1;
                    visibility: visible;
                }
            }

            span {
                color: var(--white-color);
                background: var(--heading-color);
                display: inline-block;
                padding: 4px 10px;
                font-size: 12px;
                position: absolute;
                right: 50px;
                white-space: nowrap;
                top: 5px;
                z-index: 1;
                opacity: 0;
                visibility: hidden;
                transition: transform 0.3s; /* Sử dụng transition cho transform */

                &:after {
                    position: absolute;
                    right: -2px;
                    top: 5px;
                    height: 15px;
                    width: 15px;
                    background: var(--heading-color);
                    content: '';
                    transform: rotate(45deg);
                    z-index: -1;
                }
            }

            img {
                background: var(--white-color);
                padding: 10px;
                display: inline-block;
            }
        }
    }
}

.product__item__text {
    padding-top: 15px;
    position: relative;

    a {
        font-size: 15px;
        color: var(--primary-color);
        font-weight: 700;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        transition: transform 0.3s; /* Sử dụng transition cho transform */
    }

    h6 {
        // height: 40px;
        color: var(--heading-color);
        font-size: 15px;
        font-weight: 600;
        // margin-bottom: 5px;
        transition: transform 0.3s; /* Sử dụng transition cho transform */
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; /*  */
    }

    h5 {
        color: #0d0d0d;
        font-weight: 700;
    }

    .quantity {
        margin: 0;
        font-weight: 600;
    }
    .product__color__select {
        position: absolute;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: transform 0.5s; /* Sử dụng transition cho transform */

        label {
            display: inline-block;
            height: 12px;
            width: 12px;
            background: #5e64d1;
            border-radius: 50%;
            margin-bottom: 0;
            margin-right: 5px;
            position: relative;
            cursor: pointer;

            &.black {
                background: #404a47;
            }

            &.grey {
                background: #d5a667;
            }

            &.active {
                &:after {
                    opacity: 1;
                }
            }

            &:after {
                position: absolute;
                left: -3px;
                top: -3px;
                height: 18px;
                width: 18px;
                border: 1px solid #b9b9b9;
                content: '';
                border-radius: 50%;
                opacity: 0;
            }

            input {
                position: absolute;
                visibility: hidden;
            }
        }
    }
}
